*{
	padding: 0;
	margin: 0;
}

form{
	background-color: cadetblue;
	width: 50%;
	height: 500px;
	text-align: center;
	line-height: 200px;
	position: absolute;
	left:25%;
}
form>label{
	color:#ffffff;
	font-size: 19px;
}
form>input[type=text]{
	width: 180px;
	height: 40px;
	border-radius: 10px;
	border: 1px solid #dedede;
	font-size: 20px;
	color:#5F9EA0;
}
form>input[type=submit],form>input[type=button]{
	width: 70px;
	height: 30px;
	background: lightskyblue;
	border: none;
	color: #FFFFFF;
	font-size: 18px;
	border-radius: 8px;
}
